{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * S3 Sync plugin for Craft CMS
 *
 * S3SyncUtility Utility Content
 *
 * @author    Masuga Design
 * @copyright Copyright (c) 2018 Masuga Design
 * @link      https://gomasuga.com
 * @package   S3Sync
 * @since     1.0.0
 */
#}

<h1>S3 Sync Log</h1>

{% if logs %}
    <table class="table data fullwidth">
        <thead>
        <tr>
            <th>Event</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            {% set volume = log.getVolume() %}
            <tr>
                <td>{{log.getEventLabel() }}</td>
                <td scope="row" data-title="{{ 'Message'|t('app') }}">
                    {% if log.event == 'create-asset' and log.status == 'success' %}
                        {{log.message }}
                        {%- if volume %}
                            in <a href="{{ url('settings/assets/volumes/' ~ volume.id) }}">{{ volume.name|t('site') }}</a>
                        {% endif %}
                    {% else %}
                        {{log.message }}
                    {% endif %}
                </td>
                <td scope="row" data-title="{{ 'Log Date'|t('app') }}">{{log.dateCreated }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No recorded events.</p>
{% endif %}