{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * S3 Sync plugin for Craft CMS
 *
 * S3SyncUtility Utility Content
 *
 * @author    Superbig
 * @copyright Copyright (c) 2018 Superbig
 * @link      https://superbig.co
 * @package   S3Sync
 * @since     1.0.0
 */
#}

<h1>S3 Sync Log</h1>

{% if logs %}
    <table class="table data fullwidth">
        <thead>
        <tr>
            <th>Path</th>
            <th>Bucket name</th>
            <th>Volume</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for event in logs %}
            {% set volume = event.getVolume() %}
            <tr>
                <td>{{event.getObjectKey() }}</td>
                <td>{{event.getBucketName() }}</td>
                <td scope="row" data-title="{{ 'Volume Name'|t('app') }}"><a href="{{ url('settings/assets/volumes/' ~ volume.id) }}">{{ volume.name|t('site') }}</a></td>
                <td>{{event.dateCreated }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No recorded events.</p>
{% endif %}